/******* Site Name: DJ Please
*******  File name: style.css
*******  Author: David Mendez
*******  Date: 10-5-2016 *******/
body{
  font-family: 'Orbitron', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  height: 100%;
}
/*******Navbar*******/
.navbar-header .navbar-brand{
  font-size: 2.5em;
  padding-top: 15px;
  color: white;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #0000EE;
  background-color: #E7E7E7;
  font-weight: bold;
}
/*******Carousel*******/
html,
body{
  height: 80%;
}
.item{
  height: 80%;
}
.carousel-inner{
  height: 80%;
}
.carousel-caption h1{
  font-weight: bolder;
  color: white;  
}
.carousel-caption{
  margin-bottom: 400px;
}
/*******Full width Pictures*******/
.full-width{
  height: 300px; 
  overflow: hidden;
}
.full-width img{
  width: 100%;
}
/*******Buttons*******/
.btn{
  background-color: rgba(0,0,0,0.1);
  color: white;
  border-color: white;
  border-radius: 0;
  border-width: 3px;
  font-weight: bold;
}
.btn:hover{
  color: black;
  border-color: white;
  background-color: white;
}
.white-btn{
  background-color: white;
  color: black;
  border-color: darkgray;
  letter-spacing: 1px;
}
.white-btn:hover{
  background-color: darkgray;
  color: white;
}

/*******Content*******/
#wrapper{
  font-family: 'Raleway', sans-serif;
}
/*******Content-Typography*******/
#wrapper h1{
  font-size: 3.2em;
}
#wrapper h2{
  font-size: 2.1em;
  color: maroon;
  padding: 0;
  margin: 0;
}
.lead{
  line-height: 1.6em; 
}
/*******Content-Layout*******/
.right-column{
  padding: 12px;
  text-align: center;
  margin: 12px;
}
.media-left{
  padding-right: 7px;
  margin-right: 12px;
}
.media-object{
  width: 100%;
  height: auto;
  background-size: contain;
}
.center{
  text-align: center;
}
/*******Media-Queries*******/
/*******Small devices(tablets, Less < 992px)*******/
@media (max-width: 992px) {
  #background-image{
    background-image:url('../img/background-img/dj-please-sm.jpg');  
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .carousel-caption h1{
     padding-bottom: 375px;
     font-size: 2em;
  }
}
/********Medium devices (desktops, 992px and up)*******/
@media (min-width: 992px) {
  #background-image{
    background-image:url('../img/background-img/dj-please-md.jpg');  
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .carousel-caption h1{
    
  }
}
/*******Large devices (large desktops, 1200px and up)*******/
@media (min-width: 1200px) {
  #background-image{
    background-image:url('../img/background-img/dj-please-lg.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .carousel-caption h1{
    font-size: 3em;
  }
  /*******Full width Pictures*******/
  .full-width{
    height: 700px; 
    overflow: hidden;
    margin-bottom: 12px;
  }
  .full-width-small{
    height: 450px;
    overflow: hidden;
    margin-bottom: 12px;
  }
  .full-width .background-bg{
    background-image:url('../img/background-img/party-dark1.jpg');  
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: rgba(0,0,0,0.1);

  }
  .full-width-small .background-bg-corporate{
    background-image:url('../guy.jpg');  
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: rgba(0,0,0,0.1);

  }
  .full-width .carousel-caption h2{
    background-color: rgba(0,0,0,0.1);
  }
}